# Node.js
node_modules
.env
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store # macOS specific

# Build folders
frontend/build
backend/dist # If your backend has a build step (e.g., TypeScript to JS)

# IDE files
.vscode/
.idea/